//$app-color-bg: #0072bb;
$app-color-bg: #0021a9;
$app-color-light-blue: #53a1cf;
$app-color-light-gray: #e0e0e0;

// CoreUI variables

$navbar-height: 56px;
$navbar-brand-width: 173px;

// Custom variables
$app-navbar-brand-height: 40px;
